<div style="display:grid; grid-template-columns: 20px 36px 240px 50px; column-gap:5px;">
	<label style="grid-column-start:1; grid-column-end:2; align-self:center">{{actorAmount}}</label>
	<label>
		<img 
			src="{{actorImg}}"
			title="{{actorNameImg}}" 
			width="36" 
			height="36" 
			style="border:none; margin:0px 5px 0px 0px; grid-column-start:2 grid-column-end:3; align-self:center;"
		>
	</label>
	<label style="grid-column-start:3; grid-column-end:4; align-self:center; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">{{actorName}}</label>
</div>
