<form class="flexcol" autocomplete="off">
	<section class="content">
		<div class="form-group">
			<label>{{localize 'MAT.selectMob'}}:</label>
			<div class="form-fields">
				<select name="selectMob">
					{{#each this}}
					<option value="{{this.mobName}}">{{this.mobName}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label>{{localize 'MAT.resetMobsDialog'}}:</label>
			<div class="form-fields">
				<input type="checkbox" title="{{localize 'MAT.resetMobsDialog'}}" name="resetMobs"/>
			</div>
		</div>
	</section>
</form>