{{#each messages}}
<table style="width:100%">
	<tr>
		<th colspan="2">{{this.[0].actorAmount}}x {{@key}}</th>
	</tr>
	{{#each this}}
	<tr>
		<td>{{this.weaponName}} (+{{this.finalAttackBonus}}{{this.rollTypeMessage}} to hit)</td> 
		<td><em>{{this.targetACtext}}</em></td>
	</tr>
	<tr style="border-bottom:1px solid gray">
		<td>{{this.availableAttacks}} Attack{{this.sOrNot}} vs {{this.attackersNeeded}} Needed:</td>
		<td>{{numHitAttacks}}{{pluralOrNot}}</td>
	</tr>
	{{/each}}
</table>
{{/each}}
<hr>
<strong>Conclusion:</strong> {{totalHitAttacks}}{{totalPluralOrNot}}