{{! This partial is based on the foundry settings partial}}
{{#*inline "settingPartial"}}
	<div class="form-group">
		<label style="flex-grow: 5;">{{localize this.name}}</label>
		<div class="form-fields">
			{{#if this.isCheckbox}}
				<input type="checkbox" name="{{this.id}}" data-dtype="Boolean" {{checked this.value}} {{#if this.disabled}}disabled{{/if}} />
			{{else if this.isSelect}}
				<select name="{{this.id}}" >
					{{#select this.value}}
						{{#each this.choices as |name k|}}
							<option value="{{k}}">{{localize name}}</option>
						{{/each}}
					{{/select}}
				</select>
			{{else if this.isRange}}
				<input type="range" name="{{this.id}}" data-dtype="Number" value="{{ this.value }}"
					min="{{ this.range.min }}" max="{{ this.range.max }}" step="{{ this.range.step }}" />
				<span class="range-value">{{this.value}}</span>
			{{else if this.isColor}}
				<input type="color" name="{{this.id}}" value="{{this.value}}" data-dtype="{{this.type}}" />
			{{else if this.isNumber}}
				<input type="number" name="{{this.id}}" value="{{this.value}}" data-dtype="{{this.type}}" />
			{{else}}
				<input type="text" name="{{this.id}}" value="{{localize this.value}}" data-dtype="{{this.type}}" />
			{{/if}}
		</div>
		<p class="notes">{{localize this.hint}}</p>
	</div>
{{/inline}}

<form class="flexcol" autocomplete="off">
	<nav class="sheet-tabs tabs">
		<a class="item active" data-tab="roll"><i class="fas fa-dice-d20"></i> {{localize 'SETTINGS.MAT.rollSettings'}}</a>
		<a class="item" data-tab="multiattack"><i class="fas fa-fist-raised"></i> {{localize 'SETTINGS.MAT.multiattackSettings'}}</a>
		<a class="item" data-tab="targets"><i class="fas fa-crosshairs"></i> Targets</a>
		{{#if isGM}}
		<a class="item" data-tab="module"><i class="fas fa-cogs"></i> {{localize 'SETTINGS.MAT.moduleSpecificSettings'}}</a>
		<a class="item" data-tab="mobTable"><i class="fas fa-bars"></i> Custom Table</a>
		{{/if}}
	</nav>
	<section id="config-tabs" class="content">
		<hr>
		<div class="tab active" data-tab="roll">
			<div class="settings-list">
				{{#each this.settings.roll}}
				<div class="form-group">
					{{#with this}}
					{{#if this.client}}
						{{> settingPartial}}
					{{/if}}
					{{/with}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="tab" data-tab="multiattack">
			<div class="settings-list">
				{{#each this.settings.multiattack}}
				<div class="form-group">
					{{#with this}}
					{{#if this.client}}
						{{> settingPartial}}
					{{/if}}
					{{/with}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="tab" data-tab="targets">
			<div class="settings-list">
				{{#each this.settings.targets}}
				<div class="form-group">
					{{#with this}}
					{{#if this.client}}
						{{> settingPartial}}
					{{/if}}
					{{/with}}
				</div>
				{{/each}}
			</div>
		</div>
		{{#if isGM}}
		<div class="tab" data-tab="module">
			<div class="settings-list">
				{{#each this.settings.module}}
				<div class="form-group">
					{{#with this}}
					{{#if this.client}}
						{{> settingPartial}}
					{{/if}}
					{{/with}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="tab" data-tab="mobTable">
			<div class="settings-list">
				<div class="form-group">
					<label style="flex-grow: 5;">{{localize this.settings.mobTable.hiddenTableCheckBox.name}}</label>
					<div class="form-fields">
						<input type="checkbox" name="{{this.settings.mobTable.hiddenTableCheckBox.id}}" data-dtype="Boolean" {{checked this.settings.mobTable.hiddenTableCheckBox.value}} />
					</div>
					<p class="notes">{{localize this.settings.mobTable.hiddenTableCheckBox.hint}}</p>
				</div>
				<table>
					<thead>
						<tr>
							<td colspan="2" style="text-align:center;">{{localize 'MAT.d20rollNeeded'}}</td>
							<td style="text-align:center;">{{localize 'MAT.attackersNeededForOneHit'}}</td>
						</tr>
						<tr>
							<td style="text-align:center;">Min</td>
							<td style="text-align:center;">Max</td>
							<td style="text-align:center;"></td>
						</tr>
					</thead>
					<tbody>
						{{#each this.settings.mobTable.hiddenTable.rows}}
						<tr>
							<td style="text-align:center;">
								<input type="number" class="numTable" name="{{this.d20RollMinId}}" value="{{this.d20RollMinValue}}" min="1" max="20"/>
							</td>
							<td style="text-align:center;">
								<input type="number" class="numTable" name="{{this.d20RollMaxId}}" value="{{this.d20RollMaxValue}}" min="1" max="20"/>
							</td>
							<td style="text-align:center; width: calc(50%);">
								<input type="number" class="numTable" name="{{this.attackersNeededId}}" value="{{this.attackersNeededValue}}" min="1"/>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div style="display:grid; grid-template-columns: 33% 33% 33%; column-gap:2px;">
				<button type="button" name="addRow" class="MATaddRow" style="grid-column-start:1; grid-column-end:1; align-self:center">
					<i class="fas fa-plus"></i> {{localize 'MAT.addRow'}}
				</button>
				<button type="button" name="removeRow" class="MATremoveRow" {{#if removeRowDisabled}} disabled {{/if}} style="grid-column-start:2; grid-column-end:2; align-self:center">
					<i class="fas fa-minus"></i> {{localize 'MAT.removeRow'}}
				</button>
				<button type="button" name="resetTable" class="MATresetTable" style="grid-column-start:3; grid-column-end:3; align-self:center">
					<i class="fas fa-undo"></i> {{localize 'MAT.resetTable'}}
				</button>
			</div>
			<hr>
		</div>
		{{/if}}
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
		</button>
	</footer>
</form>