<section class="content">
	<div class="form-group">
		<label>{{localize 'MAT.mobNameDialog'}}:</label>
		<div class="form-fields">
			<input type="text" name="mobName" value="{{mobName}}"/>
			<button type="button" title="{{localize 'MAT.saveMobButtonTitle'}}" name="saveMob" class="saveMobButton">
				<i class="far fa-save"></i>
			</button>
			<button type="button" title="{{localize 'MAT.loadMobButtonTitle'}}" name="loadMob" class="loadMobButton">
				<i class="fas fa-file-import fa-fw"></i>
			</button>
		</div>
	</div>
</section>
<hr>