{{#each messages}}
<table class="mat-table">
	<thead>
		<tr>
			<td colspan="1">{{this.[0].actorAmount}}x {{@key}}</td>
		</tr>
	</thead>
	<tbody>
		{{#each this}}
		<tr>
			<td style="display:inline-block; vertical-align:middle; line-height: normal;">{{this.numHitAttacks}} {{localize 'of'}} {{this.availableAttacks}} {{this.weaponName}}{{this.pluralOrNot}}{{#if this.displayTarget}} <img class="mat-target-icon" src="{{this.targetImg}}" title="Target" width="25" height="25" data-item-id="{{this.targetId}}" style="display:inline-block; vertical-align:middle; line-height: normal;">{{/if}}{{this.critMsg}}{{this.endOfMsg}}</td>
		</tr>
		{{#if this.showIndividualAttackRolls}}
		<tr class="mat-midi-show-atk-lines">
			<td>
				<div class="dice-tooltip" style="display: block;">
				    <section class="tooltip-part">
				        <div class="dice">
				            <ol class="dice-rolls">
				            	{{#each this.atkRollData}}
				                <li class="roll die d20 {{this.color}}" title="{{localize 'Attack Roll'}} (+{{this.finalAttackBonus}} {{localize 'MAT.toHit'}}) {{#if ../withAdvantage}}(Advantage){{/if}}{{#if ../withDisadvantage}}(Disadvantage){{/if}} {{#if this.discarded}}{{localize 'Discarded Result'}}: {{this.discardedRollTotal}}{{/if}}">{{this.roll}}</li>
				                {{/each}}
				            </ol>
				        </div>
				    </section>
				</div>
			</td>
		</tr>
		{{/if}}
		{{/each}}
	</tbody>
</table>
{{/each}}
<hr>
<strong>{{localize 'Conclusion'}}:</strong> {{totalHitAttacks}}{{totalPluralOrNot}}
